In [1]:
import pandas as pd
from source.TrainDataGeneration import append_ORD_TM,append_ORD_VOL,append_TM_GP,GetGroupDataFrame,append_STEP5

In [2]:
DataLoaded=pd.read_csv('CollectedData/202231913.csv')

/root/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

5 194 5    대우증권
Name: MKTPARTC_KOR_ABBRV, dtype: object
2 155 53    신한투자
Name: MKTPARTC_KOR_ABBRV, dtype: object
12 100 7    NH투자증권(우리)
Name: MKTPARTC_KOR_ABBRV, dtype: object
17 29 36    현대증권
Name: MKTPARTC_KOR_ABBRV, dtype: object
42 1 172    CS증권
Name: MKTPARTC_KOR_ABBRV, dtype: object
44 1 282    메릴린치
Name: MKTPARTC_KOR_ABBRV, dtype: object
50 92 4    키움증권
Name: MKTPARTC_KOR_ABBRV, dtype: object
2 83 53    신한투자
Name: MKTPARTC_KOR_ABBRV, dtype: object
4 10118 67    대신증권
Name: MKTPARTC_KOR_ABBRV, dtype: object
8 298 273    유진증권
Name: MKTPARTC_KOR_ABBRV, dtype: object

5 194 Series([], Name: MKTPARTC_KOR_ABBRV, dtype: object) Series([], Name: BRN_NM, dtype: object)
2 155 364    신한투자
Name: MKTPARTC_KOR_ABBRV, dtype: object 364    영업10부
Name: BRN_NM, dtype: object
12 100 8    NH투자증권(우리)
Name: MKTPARTC_KOR_ABBRV, dtype: object 8    스마트
Name: BRN_NM, dtype: object
17 29 4939    현대증권
Name: MKTPARTC_KOR_ABBRV, dtype: object 4939    YF사이버
Name: BRN_NM, dtype: object
42 1 172    CS증권
Name: MKTPARTC_KOR_ABBRV, dtype: object 172    고객
Name: BRN_NM, dtype: object
44 1 282    메릴린치
Name: MKTPARTC_KOR_ABBRV, dtype: object 282    서울
Name: BRN_NM, dtype: object
50 92 Series([], Name: MKTPARTC_KOR_ABBRV, dtype: object) Series([], Name: BRN_NM, dtype: object)
2 83 860    신한투자
Name: MKTPARTC_KOR_ABBRV, dtype: object 860    신한은행
Name: BRN_NM, dtype: object
4 10118 44434    대신증권
Name: MKTPARTC_KOR_ABBRV, dtype: object 44434    다이렉트지점
Name: BRN_NM, dtype: object
8 298 Series([], Name: MKTPARTC_KOR_ABBRV, dtype: object) Series([], Name: BRN_NM, dtype: object)

In [4]:
groupmin=10
groupsec=0

In [5]:
DataLoaded=append_ORD_TM(DataLoaded)
DataLoaded=append_TM_GP(DataLoaded)
DataLoaded=append_ORD_VOL(DataLoaded)
DataLoaded=append_STEP5(DataLoaded)

In [13]:
len(DataLoaded.columns)

67

In [ ]:
ORD_INFO_cols=['회원사주문시각','ORD_ACPT_NO','호가장처리가격','ASKBID_TP_CD','ORD_TP_CD','MODCANCL_TP_CD','MBR_NO', 'BRN_NO',
               '누적체결수량', '누적거래대금','PT_TP_CD', 'ORD_TM', 'TM_GP', 'ORD_VOL','MODCANCL_TP_CD','ORD_COND_CD',
               'BLKTRD_TP_CD', 'CNTR_CD', 'TRST_PRINC_TP_CD', 'FORNINVST_TP_CD', 'ORD_MEDIA_TP_CD', 
               '예상체결가격', '예상체결수량', '호가체결접수순서번호','INVST_TP_CD', 'ORD_ACPT_TM', 
               'ORD_QTY', 'ORD_PRC', '호가우선순위번호','ORGN_ORD_ACPT_NO','자동취소처리구분코드']
STAT_INFO_cols=['ISU_CD', 'ORD_DD','REGUL_OFFHR_TP_CD','MKTSTAT_TP_CD',]
OPEN_INFO_cols=[ 'ASK_STEP1_BSTORD_PRC',
       'ASK_STEP1_BSTORD_RQTY', 'ASK_STEP2_BSTORD_PRC',
       'ASK_STEP2_BSTORD_RQTY', 'ASK_STEP3_BSTORD_PRC',
       'ASK_STEP3_BSTORD_RQTY', 'ASK_STEP4_BSTORD_PRC',
       'ASK_STEP4_BSTORD_RQTY', 'ASK_STEP5_BSTORD_PRC',
       'ASK_STEP5_BSTORD_RQTY', 'BID_STEP1_BSTORD_PRC',
       'BID_STEP1_BSTORD_RQTY', 'BID_STEP2_BSTORD_PRC',
       'BID_STEP2_BSTORD_RQTY', 'BID_STEP3_BSTORD_PRC',
       'BID_STEP3_BSTORD_RQTY', 'BID_STEP4_BSTORD_PRC',
       'BID_STEP4_BSTORD_RQTY', 'BID_STEP5_BSTORD_PRC',
       'BID_STEP5_BSTORD_RQTY','매도총호가잔량', '매수총호가잔량', 
        '매도5단계호가합계잔량', '매수5단계호가합계잔량',
        '매도10단계호가합계잔량', '매수10단계호가합계잔량','시가', '고가', '저가','직전체결가격']
print([a for a in DataLoaded.columns if a  not in ORD_INFO_cols+STAT_INFO_cols+OPEN_INFO_cols])

In [16]:
DataLoaded['REGUL_OFFHR_TP_CD'].value_counts()

1    3264303
4      52399
3       9155
2       8019
Name: REGUL_OFFHR_TP_CD, dtype: int64

In [8]:
TDF=DataLoaded[(DataLoaded['MBR_NO']==12)&(DataLoaded['BRN_NO']==100)&(DataLoaded['ISU_CD']=="KR7028040004")]
TDF=DataLoaded[(DataLoaded['호가장처리가격']!=DataLoaded['ORD_PRC'])&(DataLoaded['ISU_CD']=="KR7028040004")]
TDF=DataLoaded[(DataLoaded['직전체결가격']==0)&(DataLoaded['TM_GP']==0)]
#TDF=DataLoaded[(0==DataLoaded['ORD_PRC'])&(1==DataLoaded['MODCANCL_TP_CD'])]
#TDF=DataLoaded[(DataLoaded['호가장처리가격']!=DataLoaded['ORD_PRC'])]/

In [9]:
TDF['ORD_TM'].max()

23033.0

In [10]:
TDF['TM_GP'].value_counts()

0.0    779
Name: TM_GP, dtype: int64

In [11]:
cols=['ORD_ACPT_TM','매도총호가잔량', '매수총호가잔량', '매도10단계호가합계잔량', '매수10단계호가합계잔량',
      '매도5단계호가합계잔량', '매수5단계호가합계잔량','직전체결가격']   # 총합 표시 관련
#cols=['AGG_TM','ORD_ACPT_TM', '회원사주문시각', 'ORD_TM'] #  시간 관련
#cols=['MBR_NO', 'BRN_NO','CNTR_CD', 'TRST_PRINC_TP_CD', 'FORNINVST_TP_CD', 'INVST_TP_CD','ORD_MEDIA_TP_CD']#외국인 관련
#cols=['TM_GP','MKTSTAT_TP_CD','REGUL_OFFHR_TP_CD','시장구분코드'] # 정규외 시간 관련
#cols=['자동취소처리구분코드',]

In [12]:
# cols=['ORD_DD','ISU_CD','회원사주문시각','ORD_ACPT_TM',"AGG_TM",'ASKBID_TP_CD','MODCANCL_TP_CD','ORD_TP_CD','ORD_PRC','호가장처리가격','ORD_QTY','누적체결수량', '누적거래대금','직전체결가격','ORGN_ORD_ACPT_NO','ORD_ACPT_NO']
#DataLoaded[cols].head(30)
x=100
TDF[cols][x:x+40]

,ORD_ACPT_TM,매도총호가잔량,매수총호가잔량,매도10단계호가합계잔량,매수10단계호가합계잔량,매도5단계호가합계잔량,매수5단계호가합계잔량,직전체결가격
1339721,90002240,198985,3284356,0,2634234,0,2634234,0
1339722,90002247,198985,3293298,0,2643176,0,2643176,0
1339723,90002254,198985,3302240,0,2652118,0,2652118,0
1339724,90002257,198985,3303240,0,2653118,0,2653118,0
1339725,90002261,198985,3312182,0,2662060,0,2662060,0
1339726,90002263,198985,3312882,0,2662760,0,2662760,0
1339727,90002296,198985,3317565,0,2667443,0,2667443,0
1339728,90002298,198985,3328140,0,2678018,0,2678018,0
1339729,90002318,198985,3328240,0,2678118,0,2678118,0
1339730,90002353,198985,3338240,0,2688118,0,2688118,0
1339731,90002359,198985,3343840,0,2693718,0,2693718,0
1339732,90002472,198985,3344350,0,2694228,0,2694228,0
1339733,90002487,198985,3344580,0,2694458,0,2694458,0
1339734,90002497,198985,3354580,0,2704458,0,2704458,0
1339735,90002615,198707,3354880,0,2705036,0,2705036,0
1339736,90002670,188565,3355090,0,2715388,0,2715388,0
1339737,90002730,188565,3362531,0,2722829,0,2722829,0
1339738,90002735,188565,3362975,0,2723273,0,2723273,0
1339739,90002751,183902,3362975,0,2727936,0,2727936,0
1339740,90002759,183902,3366487,0,2731448,0,2731448,0
1339741,90002775,183902,3367688,0,2732649,0,2732649,0
1339742,90002795,183902,3368998,0,2733959,0,2733959,0
1339743,90002799,183902,3369095,0,2734056,0,2734056,0
1339744,90002872,183902,3369195,0,2734156,0,2734156,0
1339745,90002933,180902,3379770,0,2747731,0,2747731,0
1339746,90002990,180852,3388120,0,2747781,0,2747781,0
1339747,90003028,180852,3388630,0,2748291,0,2748291,0
1339748,90003060,180852,3395850,0,2755511,0,2755511,0
1339749,90003302,180852,3398950,0,2758611,0,2758611,0
1339750,90003408,180852,3407550,0,2767211,0,2767211,0
1339751,90003443,180852,3411062,0,2770723,0,2770723,0
1339752,90003455,180852,3411506,0,2771167,0,2771167,0
1339753,90003473,180852,3412206,0,2771867,0,2771867,0
1339754,90003489,180852,3413146,0,2772807,0,2772807,0
1339755,90003517,180852,3414169,0,2773830,0,2773830,0
1339756,90003519,180852,3416169,0,2775830,0,2775830,0
1339757,90003520,180852,3420824,0,2780485,0,2780485,0
1339758,90003541,180852,3420834,0,2780495,0,2780495,0
1339759,90003549,180852,3420835,0,2780496,0,2780496,0
1339760,90003561,180852,3421046,0,2780707,0,2780707,0